# the locale message directory in your project
dir = "locales"
source = "en"

[provider]
# The name of the provider you are using. Currently, only "deekseek" is supported.
name = "deekseek"

[deekseek]
# Your Deekseeker API key
api_key = "sk-**""

